.container {
    display: flex;
    justify-content: center;
    margin: 10rem auto;
    text-align: center;
}

.hours {
    margin-left: 1rem;
    font-size: 20px;
    font-weight: 500;
}

.minuts {
    margin-right: 1rem;
    font-size: 20px;
    font-weight: 500;
}

.btn {
    margin: 1rem;
}

button {
    margin: 0 0.3rem 0 0.3rem;
    font-size: 20px;
    font-weight: 900;
    width: 2rem;
    height: 2rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}