.squared {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10rem;
    width: 10rem;
    background-color: seagreen;
    margin: 5rem auto;
    color: #fff;
}

.circle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    margin: 5rem auto;
    color: #fff;
}
