.btn-category{
    position: absolute;
    right: 40%;
    top: 5rem;
    cursor: pointer;
    width: 15rem;
    height: 3rem;
    font-size: 1.1rem;
   
}

.flex-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.list {
    position: absolute;
    right: 40%;
    top: 8rem;
    border: solid 1px;
    width: 14.3rem;
    list-style-type: none;
    margin:0;
    padding: 0 0 0 0.5rem;
}


li {
    border-top: 1px solid #000;
    margin: 1rem 0 1rem 0;
    padding: 0.5rem 0 0 0;
}

li:first-child{
    border-top: none;
   
}

.price{
    margin-right: 0.6rem;
}

.total-price{
    margin-right: 0.6rem;
    font-size: 20px;
    font-weight: 700;
}

.total{
 padding-left: 0.3rem;
 font-size: 20px;
 font-weight: 700;
}

.overlay{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(1px);
    z-index: 10;
    transition: all 0.5s ease 0s;
}

.popup-body{
    position: relative;
    width: 25rem;
    height: 7rem;
    border-radius: 12px;
    background-color: #fff;
    margin: 5rem auto;
    opacity:1;
    z-index: 10;
    transition: all 0.5s ease 0s;
 }

 .btn-close{
     position: absolute;
     top: 0;
     right: 0.5rem;
     font-size: 30px;
     cursor: pointer;
 }

 h4{
     text-align: center;
     padding-top: 3rem;
 }